<div id="accomplishments" class="container">
  <div class="col-md-offset-3 col-md-6 wrapper">
    <h4>Hello, {{accomp.username}}!</h4>
    <h3>List of accomplishments</h3>
    <button class="addAccomp">Add accomplishment</button>
    
    <form class="form-inline" role="form">           
        <div class="form-group"> 
          <label for="usernameFilter">Filter by username: </label>
          <input id="usernameFilter" ng-model="accomp.usernameFilter" type="text" name="username" class="form-control" placeholder="Username">
        </div>
    </form>

    <div class="accompList">
      <div class="singleAccomp" ng-repeat="accomplishment in accomp.accomplishments | filter: {user : {username: accomp.usernameFilter}}">
        <p>{{accomplishment.user.username}}</p>
        <p class="date">{{accomplishment.date | date:'medium'}}</p>
        <p class="description">{{accomplishment.description}}</p>
        <span>Coffees:{{accomplishment.coffees}}</span> <span>Beers:{{accomplishment.beers}}</span>
        <div class="beerCoffee">
          <button ng-click="accomp.addBeer(accomplishment)">+1 Beer</button>
          <button ng-click="accomp.addCoffee(accomplishment)">+1 Coffee</button>
        </div>
      </div>    
    </div>
  </div>
</div>
